/* 
***************
Reset Default
***************
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
***************
Design System
***************
*/

body {
    font-family: Helvetica, sans-serif, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

/* 
+++++++++++++++
Debug
+++++++++++++++
*/

.debug>*>*>* {
    border: black dashed 1px;
}

.debug header {
    background-color: #ADD8E6;
}

.debug .container {
    background-color: #DAA520;
}

.debug header .container>* {
    padding: 8px;
}

/* 
---------------
Header
---------------
*/

header {
    padding: 10px 0px;
}

.brand {
    width: 20%;
}

nav {
    width: 60%;
    text-align: center;
}

.login {
    width: 20%;
    text-align: end;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}